.main-header {
    background-color: #bfe7ce;
    padding: 1rem;
    font-family: Arial, sans-serif;
    text-align: left;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    border-bottom-left-radius: 2%;
    border-bottom-right-radius: 2%;
  }
  
.main-footer {
    background-color: #bfe7ce;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    font-family: Arial, sans-serif;
    text-align: left;
    border-top-left-radius: 2%;
    border-top-right-radius: 2%;
}

.main-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  padding: 1rem;
}

.add-button {
    float: right;
    padding: 8px 12px;
    margin-top: 5px;
    font-size: 0.95rem;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .add-button:hover {
    background-color: #45a049;
  }
  
  .modal {
    background: white;
    padding: 2rem;
    max-width: 400px;
    margin: auto;
    border-radius: 8px;
    position: relative;
  }
  
  .overlay {
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }